@charset "UTF-8";

/* TUDO que em HTML for ID, em CSS vira # (só pode um elemento por página)
   TUDO que em HTML for CLASS, em CSS vira . (pode vários elementos)
*/

body{
    background-color: rgb(215, 240, 220);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(59, 121, 64);
}
h1#principal{
    text-align: center;
    background-color: rgb(59, 121, 64);
    color: white;
}
h2{
    color: rgb(85, 177, 90);
}
.basico{
            color: rgb(85, 177, 90);
            font-weight: bold;
}
.intermediario{
            color: rgb(177, 177, 81);
}
.avancado{
            color: rgb(161, 88, 88);
}
.destaque{
            background-color: rgba(185, 185, 113, 0.493);
}